<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Roblox</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <main class="container bg-primary ">
        <h1 class="text-center text-dark">Calculadora de Gasto Energetico (TMS y GET)</h1>
            </main>
        <section>
            <form>
                <section class="row col-md-4 mx-auto">

                    <div class="mb-3">
                        <label for="numero" class="form-label">Peso (kg):</label>
                        <input type="text" class="form-control" id="numero"
                            placeholder="">
                    </div>

                    <div class="mb-3">
                        <label for="pass" class="form-label">Altura (cm):</label>
                        <input type="password" class="form-control" id="pass" placeholder="">
                    </div>

                    <div class="mb-3">
                        <label for="pass" class="form-label">Edad (años):</label>
                        <input type="password" class="form-control" id="pass" placeholder="">
                    </div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
  <label class="form-check-label" for="radioDefault1">
    Hombre
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
  <label class="form-check-label" for="radioDefault2">
    Mujer
  </label>
</div>

<select class="form-select" aria-label="Seleccione su nivel..">
  <option selected>Seleccione su nivel</option>
    <option value="1">Sedentario (Poco o nada de ejercicio)</option>
  <option value="1">Actividad ligera (Ejercicio 1-3 dias/semana)</option>
  <option value="2">Actividad moderada (Ejercicio 3-5 dias/semana)</option>
  <option value="3">Actividad Alta (Ejercicio 6-7 dias/semana)</option>
</select>

                    <button type="submit" class="btn btn-dark my-4" >Calcular TMB y GET</button>

                    </div>

            </form>
        </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>